<%= form_with(model: study_record, local: true) do |form| %>
  <% if study_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_record.errors.count, "error") %> prohibited this study_record from being saved:</h2>

      <ul>
        <% study_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :entry_id %>
    <%= form.text_field :entry_id %>
  </div>

  <div class="field">
    <%= form.label :mastery %>
    <%= form.number_field :mastery %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
