<%= form_for [@link, @entry], :remote => true, html: {id: :ajax_entry_form } do |form| %>
<input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% @entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<ul class="entry-form">
  <li class="field">
    <%= form.label :word %>
    <%= form.text_field :word %>
  </li>

  <li class="field">
    <%= form.label :reading %>
    <%= form.text_field :reading %>
  </li>

  <li class="field">
    <%= form.label :definition %>
    <%= form.text_area :definition %>
  </li>

  <li class="field field-boxes">
    <%= form.label :priority do %>
      <%= form.check_box :priority %>
      <span>Priority</span>
    <% end %>
    <%= form.label :grammar do  %>
      <%= form.check_box :grammar  %>
      <span>Grammar</span>
    <% end %>
  </li>

  <li class="actions">
    <%= form.submit %>
  </li>
<% end %>
