
<div class="profile-sidebar">
	<div class="user-email">
		<%= current_user.email %>
	</div>
	<div class="user-stats">
		<%= @total_words %>
		<%= @links.count %>
	</div>

</div>
<div class="profile-links">
	 <% @links.each_with_index do |link, index| %>
		<h4>
		  <%= link_to link.title, clicks_path(:link => link.id), :method => :post %>
		</h4>
		<div class="btn-group" role="group"  aria-label="Links">
		  <%= link_to "Learn", link_entries_path(link.id), class: "btn btn-secondary btn-sm" %>
		  <%= link_to "Read", link.url, class: "btn btn-secondary btn-sm" %>
		</div>
	<% end %>
</div>