
<div class="profile-sidebar">
	<div class="sidebar-head">
		<div class="gravatar-avatar">
			<%= image_tag current_user.gravatar_url(:size => 200), :class => "grav-img" %>
		</div>
		<div class="user-email">
			<%= current_user.email %>
		</div>
		<div class="user-stats">
			<div class="stat-col">
				<p class="stat-numbers"><%= @total_words %></p>
				<p>Words learned</p>
			</div>
			<div class="stat-col">
				<p class="stat-numbers"><%= @article_count %></p>
				<p>Articles read</p>
			</div>		
		</div>
	</div>
	<div class="dashboard-tab">
			<%= active_link_to "My Articles", user_path(current_user), active: :exact %>
	</div>
	<div class="dashboard-tab">
			<%= active_link_to "Mastered Words", user_path(current_user, tab: "deleted-words"), active: { tab: "deleted-words" } %>
	</div>

</div>
<% if params[:tab] == "deleted-words" %>
	<%= render partial: "deleted-words" %>
<% else %>
	<%= render partial: "dashboard-links" %>
<% end %> 


<%= javascript_pack_tag 'alt-tab-shower', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'dropdown-menu', 'data-turbolinks-track': 'reload' %>